extends layout

block content
  body
    header
      .w3-bar.w3-black
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/") Home
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/genrelist") Genre List
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="alphabeticList") A-Z List
        button.w3-bar-item.w3-button.w3-red.w3-right.w3-padding-16(onclick="document.getElementById('id01').style.display='block'") Login
        #id01.w3-modal
          .w3-modal-content.w3-card-4.w3-animate-zoom.w3-black(style="max-width:600px")
            .w3-center
              br
              span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(onclick="document.getElementById('id01').style.display='none'" title="Close Modal") ×
            form.w3-container(action="/action_page.php")
              .w3-section
                label
                  b Username
                input.w3-input.w3-border.w3-margin-bottom(type="text" placeholder="Enter Username" name="usrname" required="")
                label
                  b Password
                input.w3-input.w3-border(type="password" placeholder="Enter Password" name="psw" required="")
                button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Login
                input.w3-check.w3-margin-top(type="checkbox" checked="checked")
                |  Remember me?
            .w3-container.w3-border-top.w3-padding-16.w3-black
              button.w3-button.w3-red(onclick="document.getElementById('id01').style.display='none'" type="button") Cancel
              span.w3-right.w3-padding.w3-hide-small
                | Forgot 
                a(href="#") password?
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/searchpage") Search for Titles
    .w3-container.center
      h1 Genre List
      hr
      select#search-genre.w3-select()
        option(value="" disabled selected ) Select a Genre
        option(value="Action"        ) Action      
        option(value="Adventure"     ) Adventure    
        option(value="Cars"          ) Cars
        option(value="Comedy"        ) Comedy       
        option(value="Dementia"      ) Dementia     
        option(value="Demons"        ) Demons       
        option(value="Drama"         ) Drama         
        option(value="Ecchi"         ) Ecchi         
        option(value="Fantasy"       ) Fantasy        
        option(value="Game"          ) Game          
        option(value="Harem"         ) Harem         
        option(value="Historical"    ) Historical    
        option(value="Horror"        ) Horror        
        option(value="Josei"         ) Josei         
        option(value="Kids"          ) Kids          
        option(value="Magic"         ) Magic         
        option(value="Martial Arts"  ) Martial Arts  
        option(value="Mecha"         ) Mecha         
        option(value="Military"      ) Military       
        option(value="Music"         ) Music         
        option(value="Mystery"       ) Mystery       
        option(value="Parody"        ) Parody        
        option(value="Police"        ) Police        
        option(value="Psychological" ) Psychological  
        option(value="Romance"       ) Romance       
        option(value="Samurai"       ) Samurai       
        option(value="School"        ) School        
        option(value="Sci-Fi"        ) Sci-Fi       
        option(value="Seinen"        ) Seinen       
        option(value="Shoujo"        ) Shoujo       
        option(value="Shoujo Ai"     ) Shoujo Ai    
        option(value="Shounen"       ) Shounen      
        option(value="Shounen Ai"    ) Shounen Ai   
        option(value="Slice of Life" ) Slice of Life 
        option(value="Space"         ) Space        
        option(value="Sports"        ) Sports       
        option(value="Super Power"   ) Super Power  
        option(value="Supernatural"  ) Supernatural 
        option(value="Thriller"      ) Thriller     
        option(value="Vampire"       ) Vampire      
        option(value="Yaoi"          ) Yaoi         
        option(value="Yuri"          ) Yuri        
      #match-list-genre 
      script.
        const search = document.getElementById('search-genre');
        const matchList = document.getElementById('match-list-genre');
        
        // Search the JSON result from the backend
        const searchStates = async searchText => {
          const res = await fetch('/search/');
          const states = await res.json();
          
          // Get matches to current text input
          let matches = states.filter(state => {
            for (let value of state.tags) {
              if(value == search.value){
                return state.name;
              }
            }
          });
          
          if(searchText.length === 0) {
            matches = [];
            if(matches == null){
              matchList.innerHTML = '';
            }
          }
          
          console.log(matches);
          
          outputHtml(matches);
        };
        
        // Show results in HTML
        
        const outputHtml = matches => {
          if(matches.length > 0) {
            const html = matches.map(match => `
            <a href='/series/${match._id}'> ${match.name} </a>
            `
            ).join('<hr>');
            
            matchList.innerHTML = html;
          }
        };
        
        search.addEventListener('input', () => searchStates(search.value));
        
        
