doctype html
html(dir='ltr', lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Weebstream
		link(rel='stylesheet', href='/css/master.css')
		link(rel='stylesheet', href='/css/w3.css')
		link(rel='stylesheet', href='/css/all.css')
		link(rel='stylesheet', href='/css/oswald.css')
	body
		block content
